<h1>Autoryzacja dla Strava</h1>
<p>Aby uzyskać dostęp do statystyk ze Strava, proszę zautoryzuj tę aplikację klikając w przycisk poniżej.</p>
<a href="/strava_login" class="strava-button">Połącz ze Strava</a>

<style>
    .strava-button {
        display: inline-block;
        background-color: #FC4C02; /* Strava's primary color */
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .strava-button:hover {
        background-color: #e04501;
    }
</style>